.display {
  width: 214px;
  height: 40px;
  background-color: #f3f3f5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  color: #212638;
  display: flex;
  align-items: flex-end;
  flex-direction: column-reverse;
  margin-bottom: 24px;
}
