.UserInfoWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.UserInfoTitle {
  font-family: var(--font-gilroy-extrabold);
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 20px;
  color: var(--black-font-color);
}
