.authButtonsWrapper {
  width: 214px;
  display: flex;
  justify-content: space-between;
}
.loginBtn {
  background-color: var(--blue-button-color);
}
.registerBtn {
  background-color: var(--orange-color);
  color: #fff;
}
