.header {
  min-height: 72px;
  box-shadow: 0px 1px 0px #e5e9f2;
}

.container {
  max-width: 280px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 690px;
  }
}

@media (min-width: 1240px) {
  .container {
    max-width: 1180px;
  }
}
