.header {
  min-height: 72px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 1px 0px #e5e9f2;

  .container {
    width: 1280px;
    margin: 0 auto;
    padding: 0 55px;
  }
}
