.container {
  max-width: 280px;
  margin: 0 auto;
  min-height: calc(100vh - 72px);
}

@media (min-width: 768px) {
  .container {
    max-width: 690px;
  }
}

@media (min-width: 1240px) {
  .container {
    max-width: 1180px;
  }
}
