.wrapper {
  width: 100%;
  background: url('../../assets/images/first-page-img.png') no-repeat right
    bottom;
  background-size: contain;

  .title {
    max-width: 460px;
    font-family: var(--font-gilroy-extrabold);
    color: var(--black-font-color);
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 50px;

    &_break {
      display: block;
    }

    &_orange {
      color: var(--orange-color);
    }
  }
}
