.container {
  position: relative;
  max-width: 400px;
  padding: 42px 34px;
  background: #ffffff;
  box-shadow: 0px 24px 38px rgba(0, 0, 0, 0.14),
    0px 9px 46px rgba(0, 0, 0, 0.12), 0px 11px 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  text-align: center;
}

.title {
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1;
  color: var(--chart-blue);
}

.text {
  margin: 20px 0 0;
  font-size: 16px;
  line-height: 19px;
  color: rgba(24, 25, 31, 0.87);
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  padding: 10px 11px;
  background: none;
}

.imgOne {
  position: absolute;
  top: 0;
  left: 0;
}

.imgTwo {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (min-width: 768px) {
  .container {
    padding: 42px 45px;
  }
}
