.container {
  min-height: 938px;
  padding-top: 40px;
  background-image: url(../../assets/images/bg4-mobile.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: initial;
}

@media (min-width: 768px) {
  .container {
    background-image: url(../../assets/images/bg4-tablet.svg);
    padding-top: 74px;
    min-height: 952px;
  }
}

@media (min-width: 1240px) {
  .container {
    background-image: url(../../assets/images/bg4-desktop.svg);
    padding-top: 64px;
    min-height: 648px;
  }
}
