.navigationWrapper {
  width: 100%;
  min-height: calc(100vh - 72px);
  background: url('../../assets/images/nav-page-image.svg') no-repeat right
    bottom;
  background-size: contain;
  padding: 27px 0;
}

.icon {
  margin-bottom: 20px;
}
