.mobileLoginRegistrField__wrapper{
    width: 100%;
    height: auto;
  }
  
  .mobileLoginRegistrField__text {
      padding: 24px;
      text-align: center;
    }
  
  .mobileLoginRegistrField__Bth {
      padding: 0;
      border: none;
      font: inherit;
      color: inherit;
      background-color: transparent;
      font-weight: bold;
      text-decoration: underline;
      cursor: pointer;
    }
  
  @media (min-width: 768px) {
  
  
      /* .mobileLoginRegistrField__text {
          
        } */
  
  
  }
  
  