.container {
  width: 100%;
  margin: 0 auto;
  padding: 34px 27px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.36);
  border-radius: 8px 8px 0px 0px;
  background-color: var(--background-grey-color);
  color: var(--black-font-color);
}

.text {
  width: 226px;
  margin-bottom: 23px;
  font-size: 20px;
  line-height: 24px;
  font-family: var(--font-gilroy-bold);
  text-align: center;
}

.colorText {
  color: var(--orange-color);
  white-space: nowrap;
}

.sumContainer {
  width: 150px;
  margin: 0 auto;
  margin-bottom: 22px;
  display: flex;
  justify-content: space-between;
}

.sum {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}

.activeGiftContainer {
  width: 159px;
  position: relative;
  margin: 0 auto;
}

.clickContainer {
  position: relative;
  width: 159px;
}

.clickImg {
  position: absolute;
  top: -38px;
  left: 113px;
}

.inactiveGiftImg {
  filter: grayscale(100%);
  display: block;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    display: flex;
    justify-content: space-between;
    padding: 45px;
  }

  .textContainer {
    margin-top: 10px;
  }
}

@media (min-width: 1240px) {
  .container {
    padding: 53px;
  }

  .textContainer {
    margin-top: 10px;
  }
}
