.container {
  width: 17.5rem;
  margin: 0 auto;
}

.monthSelectLabel {
  font-size: 0.75rem;
  line-height: 0.75rem;
  color: rgba(24, 25, 31, 0.54);
  opacity: 0.87;
  margin-bottom: 0.625rem;
}

.monthSelectLabel:hover,
.monthSelectLabel:focus {
  color: #2196f3;
}

.monthSelect {
  display: block;
  box-sizing: border-box;
  width: 17.5rem;
  padding: 0.5rem 0 0.375rem 0;
  background: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.36);
  margin-bottom: 1.5rem;
  font-size: 0.875rem;
  line-height: 1.125rem;
}

.statParam {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.statParamItem {
  width: 8.125rem;
  height: 3rem;
  background: #f3f3f5;
  border: 1px solid #b6c4d4;
  border-radius: 4px;
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.statParamItem:not(:last-child) {
  margin-bottom: 1.5rem;
}

.statParamName {
  font-size: 0.75rem;
  line-height: 1.125rem;
  text-align: center;
  color: rgba(24, 25, 31, 0.54);
}

.statParamValue {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: var(--black-font-color);
}

@media (min-width: 768px) {
  .container {
    width: 31.875rem;
  }

  .monthSelect {
    width: 12.5rem;
    margin-bottom: 1.25rem;
  }

  .statParamItem {
    width: 5.875rem;
  }
}

@media (min-width: 1240px) {
  .container {
    width: 29.375rem;
  }

  .statParamItem {
    width: 5.5rem;
  }

  .statParamItem:last-child {
    width: 4.375rem;
  }
}
