@media (min-width: 320px) {
  .container {
    width: 280px;
    margin: 0 auto;
  }

  .monthSelectLabel {
    font-size: 12px;
    line-height: 12px;
    color: rgba(24, 25, 31, 0.54);
    opacity: 0.87;
    margin-bottom: 10px;
  }

  .monthSelect {
    display: block;
    width: 280px;
    padding: 8px 0 6px 0;
    background: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.36);
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 18px;
  }

  .statParam {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .statParamItem {
    width: 130px;
    height: 48px;
    background: #f3f3f5;
    border: 1px solid #b6c4d4;
    border-radius: 4px;
    padding: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .statParamItem:not(:last-child) {
    margin-bottom: 24px;
  }

  .statParamName {
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: rgba(24, 25, 31, 0.54);
  }

  .statParamValue {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: var(--black-font-color);
  }
}

@media (min-width: 768px) {
  .container {
    width: 510px;
  }

  .monthSelect {
    width: 200px;
    margin-bottom: 20px;
  }

  .statParamItem {
    width: 94px;
  }
}

@media (min-width: 1240px) {
  .container {
    width: 470px;
  }

  .statParamItem {
    width: 88px;
  }

  .statParamItem:last-child {
    width: 70px;
  }
}
