.headerContentWrapper {
  width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .headerContentWrapper {
    width: 690px;
  }
}

@media (min-width: 1240px) {
  .headerContentWrapper {
    width: 1180px;
  }
}
