.headerContentWrapper {
  width: 17.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 48rem) {
  .headerContentWrapper {
    width: 690px;
  }
}

@media (min-width: 77.5rem) {
  .headerContentWrapper {
    width: 73.75rem;
  }
}
