.navigationBar {
  display: flex;
  flex-direction: column;
}

.navigationLink {
  font-family: var(--font-gilroy-bold);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: var(--black-font-color);
  margin-bottom: 20px;
}

.activenavigationLink {
  color: var(--orange-color);
}

@media (min-width: 768px) {
  .navigationLink {
    font-size: 16px;
  }
}

@media (min-width: 1240px) {
  .navigationBar {
    flex-direction: row;
  }

  .navigationLink {
    font-size: 16px;
  }
  .navigationItem:not(:last-child) {
    margin-right: 32px;
  }
}
