.buttons__wrapper {
  width: 13.75rem;
  min-height: 8.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}
.google_btn {
  background: url('../../assets/icons/google.svg') no-repeat 20px 16px,
    rgba(255, 108, 0, 0.1);
  /* background: rgba(255, 108, 0, 0.1); */
}

.facebook_btn {
  background: url('../../assets/icons/facebook.svg') no-repeat 20px 16px,
    var(--blue-button-color);
  /* background: var(--blue-button-color); */
}

@media (min-width: 1240px) {
  .buttons__wrapper {
    margin: 0 auto 0 6.625rem;
  }
}
