.buttonAuth {
  display: flex;
  align-items: center;
  width: 13.75rem;
  height: 3.875rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.buttonAuthTitle {
  font-family: var(--main-font-stack);
  font-style: normal;
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.875rem;
  text-align: center;
  color: var(--black-font-color);
}

.buttonAuthIcon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin: 0 1rem;
}
